<div class="mobile-menu-icon">
  <img src="./assets/svg/icons/menu.svg" alt="Menu" id="menu-icon" />
</div>

<nav class="navbar open">
    <div class="content">
      <div class="little-balls-container">
        <div class="little-ball lb-1"></div>
        <div class="little-ball lb-2"></div>
        <div class="little-ball lb-3"></div>
      </div>

      <img
        class="img-profile"
        src="./assets/images/profile.png"
        alt="Profile"
      ></img>

      <p class="menu-title">MENU</p>

      <ul id="navbar-menu">
        <li>
          <img class="navbar-icon" src="./assets/svg/icons/home.svg"></img>
        </li>
        <li>
          <img class="navbar-icon" src="./assets/svg/icons/rouble.svg"></img>
        </li>
        <li>
          <img class="navbar-icon" src="./assets/svg/icons/basket.svg"></img>
        </li>
        <li class="selected" id="trends-icon">
          <img class="navbar-icon selected-icon" src="./assets/svg/icons/chart.svg"></img>
        </li>
        <li>
          <img class="navbar-icon" src="./assets/svg/icons/message.svg"></img>
        </li>
        <li>
          <img class="navbar-icon" src="./assets/svg/icons/card.svg"></img>
        </li>
        <li id="catalog-icon">
          <img class="navbar-icon" src="./assets/svg/icons/route-complex.svg"></img>
        </li>
        <li>
          <img class="navbar-icon" src="./assets/svg/icons/cup.svg"></img>
        </li>
      </ul>
    </div>

    <div class="notifications-container">
      <img src="./assets/svg/icons/bell.svg" alt="Notifications"></img>
    </div>
</div>